<app-menu></app-menu>
<div class="cuerpo_insitop" id="cuerpo_insitop">
    <div class="col-md-12 ">
        <div class="tamanio_proyectos">
            <h2>menú</h2>
            <hr style="color: rgb(24, 24, 24);">
            <button class="btn btn-danger " id="oculto_documentos_btn" (click)="mostrar_menu(1)">Registro
                Boletín</button>
            <hr style="color: rgb(24, 24, 24);">
            <button class="btn btn-danger " id="oculto_documentos_btn" (click)="mostrar_menu(3)">Registrar
                Anotaciones</button>
            <hr style="color: rgb(24, 24, 24);">
            <button class="btn btn-danger " id="oculto_documentos_btn" (click)="mostrar_menu(2)">
                anotaciones </button>
            <hr style="color: rgb(24, 24, 24);">
            <button class="btn btn-danger " id="oculto_documentos_btn" (click)="mostrar_menu(2)">
                Crear Unidad Solictante</button>
            <hr style="color: rgb(24, 24, 24);">
            <button class="btn btn-danger " id="oculto_documentos_btn" (click)="mostrar_menu(4)">
                Crear Firmas Planilla</button>

        </div>
    </div>

</div>
<app-spiner></app-spiner>