<app-menu-das-resultados></app-menu-das-resultados>

<div class="menu_cerrar derecha" id="menu_cerrar">
  <!-- Botón de cierre del menú -->
  <div class="boton bg_menu_x" (click)="cerrar_menu()" title="Cerrar menú" style="width: 35px;"></div>

  <!-- Botón de inicio / redireccionar -->
  <div class="menu_interno" [routerLink]="['/cuerpo']" title="Ir al inicio">
    <img src="../../../../assets/iconos-menu/menu.svg" alt="Inicio" width="25px" height="25px" class="img_e">
    Inicio
  </div>
</div>


  

