<!-- <app-menu></app-menu> -->
<div class="documento documento_oculto" id="view_dumentos">

    <div class="col-md-12 ">



        <!-- <h4 class="titulo"> {{nombre_dumento}}</h4> -->
        <!-- <h6 class="titulo"> {{server}}</h6> -->
        <div class="radios">
            <button class="btn btn-danger" (click)="cerrar()" style="position: fixed; top: 70px;">X</button>
            <object type="application/pdf" [data]="server | safe" width="100%" height="100%"></object>
            <!-- <embed [src]="server" width="400px" height="400px"> -->


        </div>
    </div>
</div>