<app-menu></app-menu>


<div class="cuerpo" ng-init="inicioAlgo()">
    <div class="col-md-12">
        <div class="col-md-12" style="display: flex; text-align: center; align-items: center; justify-content: center;">
            <h1>ESTADÍSTICA DE LA DIRECCIÓN DE OPERACIONES</h1>
        </div>
            <div class="col-md-12">
                <br>
                <br>
                <div class="card" style="width: 30rem; margin: auto;">
                    <img src="../../../assets/logos/JEMOP-DIROP.png" class="card-img-top" alt="...">
                    <hr>
                    <div class="card-body">
                        <h2>ESDOP</h2>
                      <p class="card-text">La presente plataforma fue creada en la Dirección de Operaciones del Ejército Nacional, para que fungiera como Sistema de estadística de la Dirección de Operaciones dando así soporte a la toma de decisiones del alto mando, basados en datos exactos y oportunos.</p>
                    </div>
                  </div>

            </div>

    </div>
</div>