<app-menu></app-menu>
<div class="cuerpo_insitop " id="cuerpo_insitop">
    <div class="insitop">
        <div class="titulo" style="position: fixed; width: 83%;">
            <h3 style="display: flex; justify-content: center; justify-items: center; text-align: center;">Graficas por
                Estados Mayores y Planas Mayores {{unidad_f}}</h3>
        </div>
        <button class="btn btn-danger position_btn" (click)="mostrar_proyecto()">Filtrar</button>
        
    </div>
    <br><br><br>
    <div class=" row col-md-12 ">
        <div class="row col-md-3 ejc" style="margin: auto;">
            <canvas id="chart_1">{{ chart_1 }}</canvas>
        </div>
        <div class="row col-md-6 ejc" style="margin: auto;">
            <canvas id="chart_2">{{ chart_2 }}</canvas>
        </div>
    </div>
    <div class=" row col-md-12 ">
        <div class="row col-md-6 ejc" style="margin: auto;">
            <canvas id="chart_3">{{ chart_3 }}</canvas>
        </div>
        <div class="row col-md-6 ejc" style="margin: auto;">
            <canvas id="chart_4">{{ chart_4 }}</canvas>
        </div>
    </div>    <div class=" row col-md-12 ">
        <div class="row col-md-6 ejc" style="margin: auto;">
            <canvas id="chart_5">{{ chart_5 }}</canvas>
        </div>
    </div>



    <div class="proyecto_nuevo oculto" id="proyecto_ingreso">
        <button class="btn btn-danger posicion_btn_cerrar" (click)="mostrar_proyecto()">
            X
        </button>

        <div class="tamanio_proyectos">
            <hr style="color: snow;">
            <h2 style="color: snow;">menú</h2>

            <button class="btn btn-danger " id="oculto_documentos_btn" (click)="mostrar_menu(1)">Buscar</button>
            <hr style="color: snow;">
 

        </div>
        <div class="card oculto_documentos" id="oculto_documentos" style="width: 30rem;">
            <div style="width: 100px;">
                <img src="../../../../../assets/logos/JEMOP-DIROP.png" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <h3>Buscar</h3>

                <form class="form-group row tamanio" #medallas_proyecto_descargar="ngForm" autocomplete="off">

                    <div class="form-group col-md-12" style="margin: auto;">
                        <label for="">Unidades: </label>
                        <select name="unidad" id="unidad" class="form-control" ngModel>
                            <option value=""></option>

                            <option value="{{item}}" 
                                *ngFor="let item of labels_insitop; index as i; first as isFirst">{{item}}</option>


                        </select>
                    </div>

                    <br>
                    <hr>
                    <div class="posicion_btn">
                        <button class="btn btn-success" (click)="grafica_listado_insitop_unidad(medallas_proyecto_descargar)">
                            Buscar
                        </button>
                    </div>
                </form>

                <p class="card-text">Graficas</p>
            </div>
        </div>


    </div>

</div>