.contenedor{
    position: fixed;
    margin-top: 1%;
    display: flex;
    text-align: center;
    /* background-color: rgba(188, 188, 188, 0.159); */
    padding: 15px;
    /* border-right: 5px solid rgb(118, 26, 26); */
    border-radius: 5px;
    /* height: 42em; */
    overflow: hidden;
    width: 86%;
    
}

.radios{
    position: fixed;
    margin-top: 0%;
    border: 2px solid #707070;
    border-radius: 5px;
    width:40%;
    height: 75%;
    overflow: scroll;
    
}