<div class="card positicion" style="width: 93rem;">
    <div style="width: 30px;">
        <img src="../../../../../assets/logos/JEMOP-DIROP.png" class="card-img-top" alt="...">
    </div>
    <div class="card-body">
        <h3>Firmas Planilla</h3>
        <hr style="background-color: transparent; color: transparent;">
        <hr>
        <form class="form-group row tamanio" #guardar_movimiento_listado="ngForm">
            <div class="row col-md-12" style="margin: auto;">
                <div class="form-group col-md-6" style="margin: auto;">
                    <label for="" class="color_label">Suboficial Auxiliar Apoyos Terrestres </label>
                    <input type="text" name="hr_movimiento" id="hr_movimiento" class="form-control" ngModel>
                </div>
                <div class="form-group col-md-6" style="margin: auto;">
                    <label for="" class="color_label">Oficial Apoyos Terrestre </label>
                    <input type="text" name="fecha_inicio" id="fecha_inicio" class="form-control" ngModel>
                </div>
            </div>
            <hr style="background-color: transparent; color: transparent;">
            <hr>
            <div class="row col-md-12" style="margin: auto;">
                <div class="form-group col-md-6" style="margin: auto;">
                    <label for="" class="color_label">Oficial COE  </label>
                    <input type="text" name="fecha_termino" id="fecha_termino" class="form-control" ngModel>
                </div>

                <div class="form-group col-md-6" style="margin: auto;">
                    <label for="" class="color_label">Director de Operaciones del Ejército</label>
                    <input type="text" name="fecha_termino" id="fecha_termino" class="form-control" ngModel>
                </div>
            </div>

            <hr style="background-color: transparent; color: transparent;">
            <hr>
            <div class="posicion_btn">
                <div class=" row col-md-12">
                    <!---
                    <div class="alert alert-success col-md-11" role="alert" *ngIf="inf_g"
                        style="margin: auto !important;">
                        {{inf_c_g}}!
                    </div>
                    <br *ngIf="inf_g">
                    <div class="alert alert-danger col-md-11" role="alert" *ngIf="inf_a"
                        style="margin: auto !important;">
                        {{inf_c_g}}!
                    </div>

                    <br *ngIf="inf_a">
                    <div class="posicion_btn">
                        <button class="btn btn-success" (click)="guardar_movimiento(guardar_movimiento_listado)"
                            *ngIf="inf_btn">GUARDAR</button>
                        <button class="btn btn-success" (click)="clear()" *ngIf="inf_btnuew">Nuevo</button>
                    </div>
                    -->
                </div>

            </div>
        </form>


    </div>
</div>